/* html{
  font-size: 62.5%;
} */

body{
  
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.timer{
  color: #313131;
  font-size: 8rem;
  font-weight: 600;
  margin: 4rem auto;
  text-align: center;
  text-shadow: 2px 2px #6d6c6c;
  width: 600px;
}
.buttons{
  display: flex;
  justify-content: center;
}
button{
  background:#313131 ;
  border-radius: 40px;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem;
  padding: 1.5rem 4rem;
  transition: all 0.3s;
}
button:hover{
  background:#3f3f3f ;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

button[disabled]{
  opacity: 0.5;
  cursor: default;
}

@media  (max-width:800px) {
  .timer{
    font-size: 3rem;
    width: 270px;
    margin: 1rem auto;
  }
  button{
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    margin: 0.5rem;
  }
 
  
}